<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webform</title>
  </head>
    <form id="tableForm" action="/create" method="get">
      <select class="selectpicker" data-style="btn-info" name="selectpicker" onchange= 'this.form.submit()'>
              <option name="table0" value="0">Select Route</option>
              <option name="table1" value="1B">1B</option>
              <option name="table2" value="2B">2B</option>
          </optgroup>
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </form>  

      <form id="tableForm" action="/" method="get">
        <select class="selectpicker" data-style="btn-info" name="selectpicker" onchange= 'this.form.submit()'>
            <% for(var i in username) { %>
              <option name="table1" value="= <%username%>"><%= username[i] %></option>
              <% } %> 
      </select><noscript><input type="submit" value="Submit"></noscript>
      </form>

      <!-- <form id="tableForm" action="/" method="get">
        <select class="selectpicker" data-style="btn-info" name="selectpicker" onchange= 'this.form.submit()'>
            <% for(var i in username) { %>
              <option name="table1" value="= <%username%>"><%= username[i] %></option>
              <% } %> 
      </select><noscript><input type="submit" value="Submit"></noscript> -->
      </form>
</html>